<div class="slo-header">
    Goal
</div>
<div class="mycontainer">
    <p class="same_slo">Has your Goal been revised from last year?</p>
    <div class="btn-group">
        <button type="button" class="btn btn-default">Yes</button>
        <button type="button" class="btn btn-default">No</button>
    </div>
    <h3>Name your Goal</h3>
    <input>
    <button class="btn btn-success">Save</button>
    <h3>Describe your Goal</h3>
    <ng-quill-editor ng-model="message"></ng-quill-editor>
    <div class="row">
        <div class="col-md-4 col-md-offset-4" ng-click="add_branch()">
            <button class="btn btn-success add-slo">Add Student Learning Objective</button>
        </div>
    </div>
</div>