#wrapper {
  padding-right: 250px;
  padding-left: 250px;
}


#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #242424;
  position: fixed;
  height: 100% !important;
  overflow-y: auto;
  z-index: 1000;
}

#sidebar-wrapper2 {
  margin-right: -250px;
  right: 250px;
  width: 250px;
  background: #242424;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
}

#page-content-wrapper {
  margin: auto;
  width: 98.5%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tree-icon{
    margin-right: 5px;
}

.navbar{
    margin-bottom: 0;
}

[ng-quill-editor] { 
    display: block;
}

div.ql-container.ql-snow{
    max-height: 300px;
}

ng-quill-editor.ng-invalid .ql-container {
    border: 1px dashed red;
}

.nav-left{
    background-color: #f2be35;
    box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

.nav-left > div > div > a{
    color: black !important;
}

.middle-col{
    padding-bottom: 20px;
}

.navbar{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.navbar-brand{
    color: white;
}

.no-col-padding{
    padding-left: 0;
    padding-right: 0;
}

.right-col{
    background-color: #242424;
    color: lightgray;
}


.yellow_bg{
    background-color: #f2be35; 
}

.dark_gray{
    background-color: #242424;
}

a{
    color: lightgray;
}

.nav-pills>li>a {
    border-radius: 0;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    color: inherit;
    background-color: inherit;
}

.slo-header{
    height: 70px;
    background-color: darkgray;
    font-size: 36px;
    letter-spacing: 3px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 2;
    color: white;
    margin-bottom: 20px;
}

.mycontainer{
    padding-left: 15px;
    padding-right: 15px;
}

.same_slo{
    padding-left: 15px;
    letter-spacing: 2px;
    font-size: 24px;
}
.same_slo1{
    padding-left: 15px;
    letter-spacing: 1.5px;
    font-size: 20px;
}

.mycontainer > .btn-group{
    margin-left: 33%;
}

.mycontainer > h3, .mycontainer > input{
    margin-left: 10px;
    margin-bottom: 15px;
}

.mycontainer > input{
    width: 80%;
    margin-right: 10px;
}

.mycontainer > .btn-group > button{
    width: 100px;
}

.panel, .panel-group .panel, .panel-group .panel+.panel{
    border-radius: 0px;
    margin-top: 0
}

.panel-collapse{
    color: black;
}

.imagestuff{
    word-wrap: break-word;
}

.add-slo{
    width: 88.5px;
    margin-top: 20px;
    text-align: center;
    margin-left: 2px;
}

.center{
    text-align: center;
}