<div class="slo-header center">
    Results
</div>
<div class="mycontainer">
    <p class="same_slo">Did you reach your target?</p>
    <div class="btn-group">
        <button type="button" class="btn btn-default">Yes</button>
        <button type="button" class="btn btn-default">No</button>
    </div>
    <h3>Name your tool</h3>
    <input ng-model="resultName">
    <h3>Identify the results for this assessment process and what these results tell you about your effectiveness in achieving the particular student learning objective. Be as specific as possible.
    </h3> <br><br>
    <ng-quill-editor on-editor-created="editorCreatedResult(editor)" ng-model="result"></ng-quill-editor>
    <br>
    <div class="col-md-2 col-md-offset-5">
        <button class="btn btn-success" ng-click="saveText(result, 'result', resultName)">Save Work</button>
    </div>
    <br>
</div>
