<div class="slo-header center">
    Student Learning Objective
</div>
<div class="mycontainer">
    <p class="same_slo">Has your Student Learning Objective been revised from last year?</p>
    <div class="btn-group">
        <button type="button" class="btn btn-default">Yes</button>
        <button type="button" class="btn btn-default">No</button>
    </div>
    <h3>Name your SLO</h3>
    <input ng-model="sloName">
    <h3>Describe your SLO</h3>
    <ng-quill-editor on-editor-created="editorCreatedSlo(editor)" ng-model="slo"></ng-quill-editor>
    <br>
    <div class="col-md-2 col-md-offset-5">
        <button class="btn btn-success" ng-click="saveText(slo, 'slo')">Save Work</button>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2 col-md-offset-5" ng-click="add_branch()">
            <button class="btn btn-primary add-slo">Add Tool</button>
        </div>
    </div>
</div>